{{> head}}

{{> navbar  }}


<div class="row">


    <div class="col-8">
        <h1>Demo</h1>
        <p class="lead">Este es una pagina Demo de alguna posible pagina web</p>
         <hr class="my-4">
    </div>

    <div class="col-4">
        <img src="/public/assets/img/how-to-build-webpage_m.png" alt="img-thumbnail">
    </div>

</div>
 
{{> footer}}