{{> head}}

{{> navbar  }}

<div class="row">


    <div class="col-8">
        <h1>Accionistas</h1>
        <p class="lead">Esta seccion esta dedicada a mostrar los accionistas</p>
         <hr class="my-4">
    </div>
</div>




{{> footer}}